/*   BOTÃO VOLTAR (AZUL)  */
.btn-voltar {
    background: linear-gradient(90deg, #0d6efd 0%, #3b8bff 100%);
    color: #fff !important;
    font-weight: 600;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(13, 110, 253, 0.3);
    transition: 0.2s;
}
.btn-voltar:hover {
    opacity: 0.9;
    transform: translateY(-2px);
    color: #fff !important;
}

/*   BOTÃO EDITAR AMARELO */
.btn-editar {
    background: linear-gradient(90deg, #ffc107 0%, #ffcd39 100%);
    color: #000 !important;
    font-weight: 600;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(255, 193, 7, 0.3);
    transition: 0.2s;
}
.btn-editar:hover {
    opacity: 0.9;
    transform: translateY(-2px);
    color: #000 !important;
}
.butoes {
    padding: 15px;
}

.triagem-view {
    max-width: 1000px;
    margin: 0 auto;
}
.triagem-view h1 {
    color: #198754;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}
.card {
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.05);
    background: #fff;
    border: none;
    padding: 25px;
}
.table-details {
    width: 100%;
}
.table-details th {
    background: #198754;
    color: #fff;
    width: 30%;
    text-align: left;
    vertical-align: middle;
    padding: 10px 14px;
    border-bottom: 1px solid #e9ecef;
}
.table-details td {
    background: #f8f9fa;
    color: #333;
    vertical-align: middle;
    padding: 10px 14px;
    border-bottom: 1px solid #e9ecef;
}
.badge-prio {
    padding: 6px 10px;
    border-radius: 8px;
    font-weight: 600;
    color: #fff;
}
.badge-Vermelho { background-color: #dc3545; }
.badge-Laranja  { background-color: #fd7e14; }
.badge-Amarelo  { background-color: #ffc107; color:#000; }
.badge-Verde    { background-color: #198754; }
.badge-Azul     { background-color: #0d6efd; }