.page-title {
    font-size: 26px;
    font-weight: 700;
    color: #198754;
    display: flex;
    align-items: center;
    gap: 10px;
}
.page-title i { font-size: 26px; }
.btn-back {
    background:#198754;
    padding:8px 16px;
    color:white;
    border-radius:12px;
    font-weight:600;
}
.btn-back:hover { opacity:.9; color:#fff; }